.cart::-webkit-scrollbar {
  display: none;
}

.cart-icon {
  font-weight: 2000;
  font-size: 3rem;
}

.cart-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.total-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1890ff;
  border-radius: 4px;
}
