.container {
  margin: 0 auto;
  width: 100%;
  padding-top: 12px;
  background-color: #e40046;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.39);
}

.toggle {
  margin-left: 10px;
  width: 2em;
  height: 1.6em;
  cursor: pointer;
}
